  {
    "bracketSpacing": true,
    "printWidth": 100,
    "semi": true,
    "singleQuote": false,
    "useTabs": true,
    "trailingComma": "all",
    "bracketSameLine": true,
    "overrides": [
      {
        "files": "*.md",
        "options": {
          "parser": "markdown",
          "proseWrap": "always",
          "printWidth": 120
        }
      }
    ]
  }